/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/* Clues: theme("screens.xs420"); theme("colors.mlt-purple-bright_tr1"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210, 40%, 98%; /* #f8fafc */
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: #ffc400;
		--accent-opacity: #ffc400dd;
		--accent-foreground: #3c3c3c;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: #ffb300;
		--ring-opacity: #ffb300dd;
		--radius: 0.5rem;
		--scrollbar-width: 12px;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: hsl(212.7deg 26.8% 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* Trick the hidden scroll of Radix Select */
body [data-radix-select-viewport] {
	-webkit-overflow-scrolling: scroll;
	scrollbar-width: 2rem;
	-ms-overflow-style: scroll;
}

body [data-radix-select-viewport]::-webkit-scrollbar {
	display: inherit;
}

/* Outline */
:focus-visible,
:focus {
	outline-color: theme("colors.ring");
}

/* Text selection */

::selection {
	background: var(--ring);
	color: #fff;
}

/* Scroll bars */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.gray.300") transparent;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: calc(var(--scrollbar-width) / 1.1);
	height: calc(var(--scrollbar-width) / 1.1);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	height: 52px;
	border: calc(var(--scrollbar-width) / 4.2) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.gray.300");
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: theme("colors.accent.DEFAULT");
}

*::-webkit-scrollbar-corner {
	background-color: theme("colors.accent.DEFAULT");
}

/* Logo */
.logo-cls-1 {
	opacity: 0;
	fill: transparent;
	stroke: transparent;
	stroke-miterlimit: 10;
}

.logo-cls-2 {
	fill: #787878;
}

.logo-cls-3 {
	fill: #b4b4b4;
}

.logo-cls-4 {
	fill: #a0a0a0;
}

.logo-cls-5 {
	fill: #ffb300;
}

/* Widget */
.widget_overlay {
	@apply absolute inset-0 bg-yellow-100/25 backdrop-blur-md;
}

.widget_overlay_mask {
	@apply absolute inset-0 bg-white/30 backdrop-blur-md animate-in fade-in-0;
}

.widget_body {
	@apply animate-in fade-in-0 zoom-in-95 p-6 duration-200
	flex flex-col gap-5 flex-grow
	absolute top-0 left-0 md:relative
	md:shadow-xl md:drop-shadow-xl
	md:rounded-lg
	w-full md:max-w-3xl min-w-[380px]
	h-fit min-h-screen
	md:h-auto md:min-h-[668px]
	bg-[#f8fafc];

	/* slide-in-from-left-1/2 slide-in-from-top-[48%] left-[50%] top-[50%] z-50 translate-x-[-50%] translate-y-[-50%]; */
	overflow: auto;
}

/* Select Dropdown */
.select_focus_wrapper {
	@apply rounded-md outline-none focus:outline-none data-[focus=true]:focus:ring-2 data-[focus=true]:focus:ring-ring data-[focus=true]:focus:ring-offset-0 transition-shadow duration-300 focus:delay-75;
}

.select_search_main {
	@apply py-2 px-3 gap-2 rounded-md border border-transparent flex justify-between items-center;
}

.select_search_input {
	@apply py-1 px-3 bg-transparent border-none outline-none focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-0 rounded-md text-ellipsis;

	width: calc(100% - 1rem);
}

.select_search_dropdown {
	@apply absolute mt-3 w-full max-h-56 overflow-auto bg-gray-100 py-2 pl-2 pr-1 z-50 min-w-[8rem] rounded-md border border-transparent shadow-lg drop-shadow-md data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95;
}

.select_search_dropdown_item {
	@apply hover:bg-accent text-accent-foreground py-1 my-1 rounded-sm flex items-start justify-start gap-2 transition-colors hover:duration-100 duration-200 cursor-pointer;
}

/* Display Main Data */
.main_data_container {
	@apply flex justify-start items-start gap-4 flex-col w-full sa:flex-row;
}

.main_data_left_skeleton {
	@apply w-full sa:w-[272px] h-[228px] xs:h-[156px] sa:h-[218px] flex items-center justify-center rounded-md bg-gray-200/70;
}

.main_data_right_skeleton {
	@apply flex-grow w-full sa:w-auto flex gap-3 h-[236px] xs:h-[188px] sa:h-[218px] items-center justify-center rounded-md bg-gray-100/95;
}

.main_data_left {
	@apply w-full sa:w-[272px] py-8 sa:p-4 sa:h-[218px] flex items-center justify-center bg-gray-100/95 rounded-md;
}

.main_data_left_shadow_wrapper {
	@apply grid grid-cols-1 xs:grid-cols-2 sa:grid-cols-1 gap-3 w-auto xs:w-max;
}

.main_data_left_heading {
	@apply flex flex-row justify-between sa:justify-start items-center sa:items-end gap-2;
}

.temperature_field {
	@apply text-6xl text-gray-700 min-w-[5rem] text-right xs:flex-grow;
}

.temperature_switch {
	@apply text-5xl text-left z-10 cursor-pointer px-1 -mx-1 -translate-y-3 active:ring-2 active:ring-ring active:ring-offset-0 rounded-md ring-offset-transparent;
}

.main_data_left_info_wrapper {
	@apply flex flex-row w-full xs:w-auto sa:w-full gap-1 items-start justify-between;
}

.reload_button {
	@apply w-14 cursor-pointer flex items-end xs:items-start sa:items-end justify-start h-full text-5xl xs:text-4xl sa:text-5xl -translate-x-1 xs:translate-x-2 sa:-translate-x-1 translate-y-0 xs:translate-y-2 sa:translate-y-1 text-gray-300;
}

.reload_button_feedback {
	@apply flex items-center justify-center w-12 h-12 active:ring-2 active:ring-ring active:ring-offset-0 rounded-md ring-offset-transparent;
}

.main_data_left_info {
	@apply sa:flex-grow w-auto flex flex-col gap-1;
}

.main_data_left_info_row {
	@apply flex justify-end items-end gap-1 text-right w-full -mr-1;
}

.main_data_right {
	@apply flex-grow w-full sa:w-auto px-2 py-2 flex flex-col gap-3;
}

.main_data_right_heading {
	@apply flex justify-between items-start flex-col sa:flex-row;
}

.main_data_right_info {
	@apply grid grid-cols-1 xs:grid-cols-2 sa:grid-cols-1 xs:gap-1 xs:gap-x-4 text-base;
}

.main_data_right_info_row {
	@apply flex justify-start items-center gap-1;
}

.main_data_right_info .info_icon {
	@apply text-gray-600 w-4 mr-2 text-center text-xl;
}

/* Display Days */
.days_data_container {
	@apply grid grid-cols-4 sm:grid-cols-8 gap-3;
}

.day_data {
	@apply flex flex-col items-center justify-center gap-1 cursor-pointer p-2 rounded-md h-28 active:ring-2 active:ring-ring active:ring-offset-0 ring-offset-transparent;
}
